
<div class="row w-50 m-auto h-100">
  <div class="col d-flex justify-content-center flex-column">
    <h2 class="text-light mx-auto">Login</h2>
    <form  class="d-flex flex-column" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class=" mb-4">
        <p class="mt-3 text-light text-center tw-text-xl " >Por favor, introduzca su usuario y contraseña:</p>
        <div class="form-group py-3 w-50 mx-auto">
          <input type="text"  formControlName="email" class="form-control"  name="email" required placeholder="Email">
          <label for="" class="color-error" *ngIf="loginForm.get('email')?.touched && !loginForm.get('email')?.valid "> Email invalido*</label>
        </div>
        <div class="form-group py-3 w-50 mx-auto">
          <input type="password"  formControlName="password" class="form-control"  name="password" required
            placeholder="Contraseña">
          <label for="" class="color-error" *ngIf="loginForm.get('password')?.touched && !loginForm.get('password')?.valid "> Contraseña es necesaria*</label>
        </div>
      </div>
      <div class="options d-flex justify-content-center gap-5">
        <a href="" class="password">¿Has olvidado tu contraseña?</a>
        <a href="" class="register" [routerLink]="'/registro-usuario'">Registrate</a>
      </div>
      <button type="submit" class="btn mt-3 btn-primary tw-font-black w-50 mx-auto" style="font-weight: bold;">
        <app-loader-button *ngIf="isLoading|async" ></app-loader-button>
         <label for="" *ngIf="!(isLoading|async)">Login</label>
      </button>
    </form>
  </div>
</div>




