  <div class="footer_container p-4">
    <div class="main_container">
      <div class="column1_footer">
        <div class="section1_column1">
          <img src="/assets/img/logo.png" class="img_logo" />
          <div class="logo_text">
            <div>
              <h1 class="titleFont">CATENARIA</h1>
            </div>
            <div>
              <h2 class="subTitleFont">Studio Arquitectonico</h2>
            </div>
          </div>
        </div>
        <div class="contact_info">
          <ul>
            <li class="item_list">ARQ. TATIANA MALPICA</li>
            <li class="item_list">ARQTATIANAMALPICA@GMAIL.COM</li>
            <li class="item_list">(+57) 3203444983</li>
            <li class="item_list">SOCHA BOGOTÁ</li>
          </ul>
        </div>
      </div>
      <div class="section2column2" style="border-right: 2px solid #ffffff">
        <ul style="list-style-position: inside">
          <li class="item_list2" style="align-items: center">ACERCA DE</li>
          <li class="item_list2" style="align-items: center">PROYECTOS</li>
          <li class="item_list2" style="align-items: center">SERVICIOS</li>
          <li class="item_list2" style="align-items: center">CONTACTOS</li>
        </ul>
      </div>
      <div class="section1column1">
        <div>
          <h1 class="item_list2" style="font-size: 50px; text-align: center">
            REDES
          </h1>
        </div>
        <div class="social_icons_container">
          <button style="background-color: transparent; border: none;"><img src="./assets/img/Proyect1/icon1.png"
              class="social_icons" /> </button>
          <button style="background-color: transparent; border: none;"><img src="./assets/img/Proyect1/icon2.png"
              class="social_icons" /> </button>
          <button style="background-color: transparent; border: none;"><img src="./assets/img/Proyect1/icon3.png"
              class="social_icons" /> </button>
          <button style="background-color: transparent; border: none;"><img src="./assets/img/Proyect1/icon4.png"
              class="social_icons" /> </button>
          <button style="background-color: transparent; border: none;"><img src="./assets/img/Proyect1/icon5.png"
              class="social_icons" /> </button>
        </div>
      </div>
    </div>
  </div>

