.title {
  font-family: "Bahiana", sans-serif;
  margin: 20px;
  font-size: 40px;
}

.subtitle {
  font-family: "Bahiana", sans-serif;
  font-size: 15px;
}

.register {
  text-decoration: none;
  color: white;
}

.password {
  text-decoration: none;
  color: #2edcf4;
}
:host ::ng-deep .p-calendar{
  background-color: white;
  color: #000;
  border-radius: 20px;
}
:host ::ng-deep .p-inputtext{
  background-color: white;
  color: #000;
  border-radius: 20px;
}
