<section class="h-100 backMoreServices">
    <div class="container text-center">

    
        <div class="row">
            <div class="col m-5">
                <h2 class="whiteText secondFont  fs-1">Tambien contamos con: </h2>
            </div>
        </div>
   
        <div class="row">
            <div class="col p-3 d-flex flex-column align-items-center">
                <a class="linkService fs-2" href="">
                    <i class="fa-solid fa-circle-check igreen"></i>
                    <span for="" class="secondFont mx-2 whiteText">Diseño Hidrosanitario </span>
                    <i class="fa-solid fa-toilet iviolet"></i>
                </a>
                <a class="linkService fs-2" href="">
                    <i class="fa-solid fa-circle-check igreen"></i>
                    <span for="" class="secondFont mx-2 whiteText">Asesoria de arquitectura </span>
                    <i class="fa-solid fa-compass-drafting iviolet"></i>
                </a>
                <a class="linkService fs-2" href="">
                    <i class="fa-solid fa-circle-check igreen"></i>
                    <span for="" class="secondFont mx-2 whiteText">Levantamiento topografico</span>
                    <i class="fa-solid fa-video iviolet"></i>
                </a>
                <a class="linkService fs-2" href="">
                    <i class="fa-solid fa-circle-check igreen"></i>
                    <span for="" class="secondFont mx-2 whiteText">Licencias de construccion</span>
                    <i class="fa-solid fa-scroll iviolet"></i>
                </a>
                <a class="linkService fs-2" href="">
                    <i class="fa-solid fa-circle-check igreen"></i>
                    <span for="" class="secondFont mx-2 whiteText">Obra nueva</span>
                    <i class="fa-solid fa-hammer iviolet"></i>
                </a>
                <a class="linkService fs-2" href="">
                    <i class="fa-solid fa-circle-check igreen"></i>
                    <span for="" class="secondFont mx-2 whiteText">Reconocimiento</span>
                    <i class="fa-solid fa-magnifying-glass-location iviolet"></i>
                </a>
            </div>

            <div class="col p-3 d-flex flex-column align-items-center ">
                <a class="linkService fs-2" href="">
                    <i class="fa-solid fa-circle-check igreen"></i>
                    <span for="" class="secondFont mx-2 whiteText">Propiedad Horizontal</span>
                    <i class="fa-solid fa-up-down iviolet"></i>
                </a>
                <a  class="linkService fs-2" href="">
                    <i class="fa-solid fa-circle-check igreen"></i>
                    <span for="" class="secondFont mx-2 whiteText">Subdivision</span>
                    <i class="fa-solid fa-left-right iviolet"></i>
                </a>
                <a class="linkService fs-2" href="">
                    <i class="fa-solid fa-circle-check igreen"></i>
                    <span for="" class="secondFont mx-2 whiteText">Construccion de obras civiles</span>
                    <i class="fa-solid fa-building-circle-check iviolet"></i>
                </a>
                <a class="linkService fs-2" href="">
                    <i class="fa-solid fa-circle-check igreen"></i>
                    <span for="" class="secondFont mx-2 whiteText">Cantidad y Presupuestos</span>
                    <i class="fa-solid fa-cubes iviolet"></i>
                </a>
                <a class="linkService fs-2" href="">
                    <i class="fa-solid fa-circle-check igreen "></i>
                    <span for="" class="secondFont mx-2 whiteText">Ampliacion</span>
                    <i class="fa-solid fa-arrows-up-down-left-right iviolet"></i>
                </a>
            </div>
        </div>
    </div>
</section>
