<section class="h-100 backMoreServices">
    <div class="container text-center">

    
        <div class="row">
            <div class="col m-5">
                <h2 class="whiteText secondFont  fs-1">Tambien contamos con: </h2>
            </div>
        </div>
   
        <div class="row">
            <div class="col p-3 d-flex flex-column align-items-center">
                <a class="linkService fs-2" href="">
                    <i class="fa-solid fa-circle-check"></i>
                    <label for="" class="secondFont mx-2">Diseño Hidrosanitario </label>
                    <i class="fa-solid fa-toilet"></i>
                </a>
                <a class="linkService fs-2" href="">
                    <i class="fa-solid fa-circle-check"></i>
                    <label for="" class="secondFont mx-2">Asesoria de arquitectura </label>
                    <i class="fa-solid fa-compass-drafting"></i>
                </a>
                <a class="linkService fs-2" href="">
                    <i class="fa-solid fa-circle-check"></i>
                    <label for="" class="secondFont mx-2">Levantamiento topografico</label>
                    <i class="fa-solid fa-video"></i>
                </a>
                <a class="linkService fs-2" href="">
                    <i class="fa-solid fa-circle-check"></i>
                    <label for="" class="secondFont mx-2">Licencias de construccion</label>
                    <i class="fa-solid fa-scroll"></i>
                </a>
                <a class="linkService fs-2" href="">
                    <i class="fa-solid fa-circle-check"></i>
                    <label for="" class="secondFont mx-2">Obra nueva</label>
                    <i class="fa-solid fa-hammer"></i>
                </a>
                <a class="linkService fs-2" href="">
                    <i class="fa-solid fa-circle-check"></i>
                    <label for="" class="secondFont mx-2">Reconocimiento</label>
                    <i class="fa-solid fa-magnifying-glass-location"></i>
                </a>
            </div>

            <div class="col p-3 d-flex flex-column align-items-center ">
                <a class="linkService fs-2" href="">
                    <i class="fa-solid fa-circle-check"></i>
                    <label for="" class="secondFont mx-2">Propiedad Horizontal</label>
                    <i class="fa-solid fa-up-down"></i>
                </a>
                <a  class="linkService fs-2" href="">
                    <i class="fa-solid fa-circle-check"></i>
                    <label for="" class="secondFont mx-2">Subdivision</label>
                    <i class="fa-solid fa-left-right"></i>
                </a>
                <a class="linkService fs-2" href="">
                    <i class="fa-solid fa-circle-check"></i>
                    <label for="" class="secondFont mx-2">Construccion de obras civiles</label>
                    <i class="fa-solid fa-building-circle-check"></i>
                </a>
                <a class="linkService fs-2" href="">
                    <i class="fa-solid fa-circle-check"></i>
                    <label for="" class="secondFont mx-2">Cantidad y Presupuestos</label>
                    <i class="fa-solid fa-cubes"></i>
                </a>
                <a class="linkService fs-2" href="">
                    <i class="fa-solid fa-circle-check"></i>
                    <label for="" class="secondFont mx-2">Ampliacion</label>
                    <i class="fa-solid fa-arrows-up-down-left-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>
