

h2{
    font-size:60px;
    font-weight: bold;
}
p{
    font-size: 20px;
    font-weight: bold;
}

label{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
textarea{
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid #00A1B5;
    padding: 10px;
}
button{
  font-weight: bold;
}

