<section class="h-100 backMision">
    <div class="container text-center">

    
        <div class="row">
            <div class="col m-5">
                <h2 class="whiteText secondFont titleMision fs-1"> NUESTRA MISION EN <span class="">
                    CATENARIA STUDIO ARQUITECTONICO
                </span></h2>
            </div>
        </div>
   
        <div class="row">
            <div class="col dCasa p-3">
                <canvas  #casad width="500"  height="500">

                </canvas>
            </div>
            <div class="col">
                <div class="d-flex flex-row align-items-center">
                    <i class="fa-solid fa-circle-check whiteText m-4 fs-2"></i>
                    <p class="whiteText secondFont fs-5">Proporcionamos soluciones de diseño arquitectónico 
                        innovadoras y sostenibles que se adapten a las 
                        necesidades y deseos de cada uno de nuestros clientes.
                         Nos esforzamos por crear espacios funcionales y 
                         atractivos que mejoren la calidad de vida de las 
                         personas que los habitan, y por hacer un uso 
                         responsable de los recursos naturales y económicos disponibles. </p>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <i class="fa-solid fa-circle-check whiteText m-4 fs-2 "></i>
                    <p class="whiteText secondFont fs-5">
                        Trabajamos en estrecha colaboración con nuestros clientes 
                        para asegurar que nuestros proyectos sean un reflejo 
                        de sus visiones y objetivos, y hacemos todo lo posible 
                        por garantizar que nuestros diseños cumplan con todas 
                        las normativas y regulaciones aplicables. En resumen, 
                        nuestra misión es ayudar a nuestros clientes a crear 
                        espacios únicos y sostenibles que mejoren la calidad 
                        de vida y la productividad de sus ocupantes.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
