<section class="h-100 backTitleProyects">
    <div class="container text-center ">
        <div class="row">
            <h2 class="whiteText fs-1 secondFont"> Proyectos destacados</h2>
        </div>
        <div class="row">
            <p class="whiteText secondFont fs-3">
                Déjate asombrar por algunos de los proyectos mas destacados que hemos llevado a cabo.
            </p>
            <br>
            <p class="whiteText secondFont fs-3">
                Si gustas ver mas proyectos dale clic en el siguiente botón:
            </p>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-2">
                <button class="whiteText secondFont fs-4 btnPrimary" (click)="goToProyects()">
                    Proyectos
                </button>
            </div>

        </div>
    </div>
</section>
