.img_header {
  width: 100%;
  border: none;
}

.title_form {
  color: white;
  font-size: 60px;
  display: flex;
  margin-top: 10vh;
  line-height: 0.8;
  text-align: center;
}

.body {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 200px;
  background: linear-gradient(45deg, #000000 40%, #086970 );
}

.input-details {
  height: 30vh;
  width: 80vh;
}

h1, h2, a {
  color: white;
  font-family: 'Quicksand'
}

h2 {
  font-size: 24px;
}

.date-hour {
  display: flex;
}

.btn-date {
  border-radius: 5px;
  background: linear-gradient(#08697000, #00A1B5);
  background: linear-gradient(315deg, rgba(8, 105, 112, 0.00) -0.12%, #00A1B5 99.88%);
  color: #fff;
}

.btn-layout {
  display: flex;
  width: 180px;
  padding: 13px 20px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

h1 {
  font-family: 'Bahiana';
  font-size: 26px;
}

input::-webkit-input-placeholder {
  color: black;
  font-family: 'Bahiana';
}


/* Estilo del modal */
.modal {
  display: none; /* Por defecto, el modal está oculto */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscurecido */
  z-index: 1000; /* Z-index alto para estar por encima de todo */
}

/* Clase para mostrar el modal */
.is-active {
  display: flex; /* Mostrar el modal cuando la clase .is-active está presente */
  align-items: center;
  justify-content: center;
}

/* Estilo del modal card (parte interior del modal) */
.modal-card {
  max-width: 600px; /* Ancho máximo del modal card */
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

  /* Estilo del botón de cierre (X) en la esquina superior derecha del modal */
  .modal-card .delete {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

/* Estilo del pie del modal card (donde se encuentran los botones) */
.modal-card-foot {
  display: flex;
  justify-content: flex-end; /* Botones alineados a la derecha */
  padding: 10px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}

  /* Estilo de los botones dentro del pie del modal card */
  .modal-card-foot button {
    margin-left: 10px;
  }
