.body{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 200px;
    background: linear-gradient(45deg, #000000 40%, #086970 );
}
.text{
    width: 100%;
    color: white;
    font-family: 'Bahiana', cursive;
    font-size: 55px;
    text-align: center;
}

.projects_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr;
    border: white;
    border-radius: 25px;

}
