/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeicons/primeicons.css";
.bodyDark{
    position: relative;
    height: 100%;
    background: #000000;
}

@font-face {
  font-family: Gogoia;
  src: url("assets/font/GOGOIA-Regular.otf") format("opentype");

}
@font-face {
 font-family: Bahiana;
  src: url("assets/font/Bahiana-Regular.ttf") format("opentype");
}
:root{
  --font-primary: 'Quicsand', sans-serif;
  --font-titles: 'Bahiana', cursive;
  --color-font-primary: #FFFFFF;
  --color-error: #ff0000;
  --gradient-error: linear-gradient(198deg, rgba(255, 0, 0, 0.60) -1.81%, rgba(255, 0, 0, 0.10) 78%);
  --gradient-warn: linear-gradient(198deg, rgba(255, 255, 0, 0.60) -1.81%, rgba(255, 255, 0, 0.10) 78%);
  --gradient-success: linear-gradient(198deg, rgba(0, 255, 0, 0.60) -1.81%, rgba(0, 255, 0, 0.10) 78%);
  --gradient-info: linear-gradient(198deg, rgba(0, 255, 255, 0.60) -1.81%, rgba(0, 255, 255, 0.10) 78%);
}


*{
   color: var(--color-font-primary);
    font-family: var(--font-primary);
}

body{
  margin: 0;
  font-family: "Quicksand","Helvetica Neue", sans-serif;
  background: linear-gradient(to bottom right, #044D52 0%, #1E1E1E 50%)  no-repeat ;

}
.color-error{
  color: var(--color-error);
}
.color-font-primary{
  color: var(--color-font-primary)!important;
}

.backgroundGradient{
    height: 100%;
    background: radial-gradient(80.7% 80.7% at 50% 50%, #086970 0%, rgba(19, 17, 17, 0) 100%);
}

.h-100 {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.whiteText{
    color: white;
}

.secondFont{
    font-family: 'Quicksand', sans-serif;
}

.btnPrimary{
    border: none;
    padding: 3% 8%;
    border-radius: 10px;
    background: linear-gradient(315deg, #086970 -0.12%, #00A1B5 99.88%);

}
.btn{
  font-weight: bold;
}

.btn-primary {
  align-items: center;
  padding: 8px 27px;
  font-size: 15px;
  background: linear-gradient(315deg, #086970 -0.12%, #00A1B5 99.88%);
  box-shadow: 0px 0px 10px #46EEFA;
  border-radius: 10px;
  color: #FFFFFF;
  font-weight: bold;
}
.btn-primary:hover {
  box-shadow: 0px 0px 50px #46EEFA;
}
.btnPrimary:hover{
    box-shadow: 0px 0px 20px #46EEFA;
}


.alert {
  width: 100%;
  height: 100px;
  border-radius: 10px;
}
.gradient-error {
  background: var(--gradient-error);
}

.gradient-warn {
  background: var(--gradient-warn);
}

.gradient-success {
  background: var(--gradient-success);
}

.gradient-info {
  background: var(--gradient-info);
}
app-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}


