/* You can add global styles to this file, and also import other style files */
.bodyDark{
    position: relative;
    height: 7544px;
    background: #000000;
}

@font-face {
    font-family: Gogoia;
    src: url("assets/font/GOGOIA-Regular.otf") format("opentype");
  }
  

.backgroundGradient{
    height: 5000px;
    background: radial-gradient(80.7% 80.7% at 50% 50%, #086970 0%, rgba(19, 17, 17, 0) 100%);
}

.h-100 {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.whiteText{
    color: white;
}

.secondFont{
    font-family: 'Quicksand';
}