<section class="h-100 backTitleProyects">
    <div class="container text-center ">
        <div class="row">
            <h2 class="whiteText fs-1 secondFont">Portafolio de Servicios</h2>
        </div>
        <div class="row">
            <p class="whiteText secondFont fs-3">
                Déjanos contarse acerca de nuestro portafolio de servicios que tenemos disponible para ti.
            </p>
            <br>
            <p class="whiteText secondFont fs-3">
                Mira nuestro portafolio completo a través del siguiente botón:
            </p>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-2">
                <button class="whiteText secondFont fs-4 btnPrimary">
                    Servicios
                </button>
            </div>
            
        </div>
    </div>
</section>