<img src="/assets/img/BAN_1.png" alt="" width="100%" height="250px">
<div class="main-container">
  <div class="container-table shadow">
    <div class="container-header">
      <p class="title"><strong>Horarios de Atención</strong></p>
      <hr style="margin-bottom:5px !important; margin-top:5px !important; " />
    </div>
    <table class="table">
      <thead>
      </thead>
      <tbody>
        <ng-container *ngFor="let horario of horarios" >
          <tr >

            <td [ngStyle]="{'background-color' :  horario.active  ? ''  : '#ECF0F1'} " style="width: 220px;">

              <mat-icon class="material-icons-outlined lockIcon">lock</mat-icon>
              <strong class="label-day">{{horario.dia }}</strong>
            </td>
            <td  [ngStyle]="{'background-color' :  horario.active  ? ''  : '#ECF0F1'} ">
              <div style="font-style: italic; text-align: right; color: gray;" *ngIf="!horario.active">
                <p>Este día se encuentra bloqueado</p>
              </div>
              <div style="display: flex;" *ngIf="horario.active">
                <!-- <mat-chip *ngFor="let hora of horario.horas" class="hora-chip">{{ hora }}</mat-chip> -->

                <div class="col"  style=" text-align: right;" >
                  <ng-container *ngFor="let hora of horario.franjas">
                    <mat-chip-row >
                      {{hora.hora_inicio}}
                      -
                      {{hora.hora_fin}}

                    </mat-chip-row>
                  </ng-container>
                </div>

              </div>
            </td>
          </tr>
        </ng-container>

      </tbody>
    </table>
  </div>
</div>
