<div class="header_container">

  <div class="img_header_edit">
    <img src="./assets/img/bridge.jpg" class="img_header" />
  </div>
</div>

<div class="body col-md-6 mx-auto my-auto">
  <div class="col-md-10">
    <h1 class="title_form ">Verificación de correo electrónico</h1>
  </div>

  <div>
    <h2>
      Hola, enviamos un enlace a tu correo electrónico: nombre@mail.com,
      lo necesitamos para comunicarnos contigo. Para que funcione debes ingresar
      a tu email y dar clic en esté.
    </h2>
  </div>
  
  <div class=" col-md-9 mx-auto my-auto">
    <h1>Estado de la cuenta</h1>
        <input type='text' placeholder="Verificada" readonly>
  </div>
  <div class="m-4"><h2>¿No te llego el enlace? <a href="#">Reenviar</a></h2></div>
</div>
