.img_header {
  width: 100%;
  border: none;
}

.title_form {
  color: white;
  font-size: 60px;
  display: flex;
  margin-top: 10vh;
  line-height: 0.8;
  text-align: center;
}

h1, h2, a {
  color: white;
  font-family: 'Quicksand'
}

h1 {
  font-family: 'Bahiana';
  font-size: 26px;
}

input {
  background: #27FF7E;
}

  input::-webkit-input-placeholder {
    color: black;
    font-family: 'Bahiana';
  }
